// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #cf628c;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Custom styles

// The logos on the hero image on the first slide.
.logo {
  width: 120px;
}

// The hero image on the first slide.
.hero {
  height: 450px;
}

.code-overlay-container {
  position: relative;
}

.code-overlay {
  // Overlay something over code.
  background-color: var(--r-background-color);
  position: absolute;
  bottom: 10px;
  // The code width is 90%.
  right: calc(5% + 10px);
}


// Override reveal styles.

.reveal img.inline {
  display: inline-block;
  margin: 0;
  height: 1em;
  vertical-align: sub;
}

.reveal section {
  // All sections should have 100% height not just the top one.
  // An explicit height means that children with max-height: 100% will work.
  height: 100%;
}

.reveal section * {
  // Ideally nothing should overflow its parent.
  // This only works if the height is set.
  max-height: 100%;
}

.reveal {
  h1, h2, h3, h4, h5, h6 {
    &.fix-heading-alignment:last-child {
      // Not sure why but there is a margin-bottom: 0 the last headings which causes weird alignment, especially within
      // a stack (maybe this is only when in a stack?).
      margin-bottom: auto;
    }
  }
}

// Highlight.js Theme
@import "highlight.js/scss/night-owl.scss";

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal pre code {
  // The theme sets this to a max of 400px.
  max-height: 95%;
}
